body{
    height: 100%;
    width: 100%;
}

#DisplayImagesDiv{
    display:flex;
    justify-content: space-evenly;
    

}

img{

    height: 300px;
    width: 300px;
    
}

#myChart{
    border: 1px solid black;
}